@font-face {
  font-family: "Maplestory";
  src: url("styles/fonts/Maplestory_Bold.ttf");
  font-weight: normal;
}
@font-face{
  font-family: "Maplestory";
  src: url("styles/fonts/Maplestory_Light.ttf");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Maplestory";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #f5efea;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

img {
  -webkit-user-drag: none;
}

mark {
  background-color: transparent;
  color: #c48f5a;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1;
  padding-top: 100px;
}
