@font-face{
  font-family: 'Maplestory Bold';
  src: url('styles/fonts/Maplestory_Bold.ttf');
  font-family: 'Maplestory Light';
  src: url('styles/fonts/Maplestory_Light.ttf');
  font-family: 'Maplestory Bold';
  src: url('styles/fonts/Maplestory_Bold.ttf');
  font-family: 'Maplestory Bold';
  src: url('styles/fonts/Maplestory_Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: "Maplestory Light", "Maplestory Bold";
  
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #F5EFEA;
}

.App {
  display: flex; 
  min-height: 100vh; 
  flex-direction: column;
}
.main {
  flex: 1;
}
