.markdown {
  width: 100%;
  height: 30vh;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
/* .postingtitle {
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 50%;
  font-size: 30px;
  background-color: #eaf3f5;
  display: block;
} */
.hashWrap {
  color: rgb(52, 58, 64);
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0px;
  color: #444241;
  padding: 2px 2px 8px 2px;
}
.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.tagBox {
  margin-top: 5px;
  background: #f9f9f9;
  border-radius: 30px;
  padding: 0 10px;
  color: #445656;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* line-height: 10px; */
  margin-right: 5px;
  cursor: pointer;
}
