.markdown {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 5px;
  padding: 20px;
  padding-left: 30px;
  background-color: white;
  line-height: 2;
}
@media screen and (max-width: 900px) {
  .markdown {
    display: none;
  }
}

.hashWrap {
  color: rgb(52, 58, 64);
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0px;
  color: #444241;
  padding: 2px 2px 8px 2px;
}
.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.tagBox {
  margin-top: 5px;
  background: #f9f9f9;
  border-radius: 2rem;
  padding: 10px;
  color: #445656;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: fit-content;
  margin-right: 5px;
  cursor: pointer;
}
.postingButton {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px) {
}
